<div class="card profile-card-5 shadow" appChangeBackgroundDirective>
          <div  class="card-img-block" >
            <img class="card-img-top" [src]="e.imageUrl" alt="Card image cap" style="max-height: 300px;">
          </div>
          <div class="card-body pt-0">
            <h5 [ngStyle]="{'color':e.nbrLike>2 ? 'red':'green'}" class="card-title">{{ e.title }}</h5>
            <h6 class="text-muted"><i class="fa fa-calendar text-primary"></i>{{ e.date |date}} | <i class="fa fa-location text-danger"></i> {{ e.location }}</h6>
            <p [ngClass]="{'text-danger':e.nbPlaces===0,'text-success':e.nbPlaces>0}" class="fw-bold">💰 {{ e.price }} | 🎟 {{ e.nbPlaces }} places</p>
            <p>
              <button *ngIf="showLike" class="btn btn-sm btn-outline-danger"
                      (click)="sendDataToParent(e)"
                      [disabled]="isExpired(e)">❤️</button>
              {{ e.nbrLike }}
            </p>
            <p class="card-text">{{ e.description }}</p>
            <a [routerLink]="['/events/event-details',e.id]" class="btn btn-primary btn-sm">Read More</a>
          </div>
        </div>


