    <div class="card shadow-sm h-100 border-0">
          <div class="card-body">
            <img src="{{ p.image }}" class="card-img-top mb-3" alt="{{ p.name }}"   style="height: 300px; width: 200px; object-fit: cover;">
            <h5 class="card-title text-primary text-center">{{ p.name }}</h5>
            <p class="card-text text-muted mb-1"><strong>Prix :</strong> {{ p.price | currency:'EUR' }}</p>
            <p class="card-text"><strong>Description :</strong> {{ p.description }}</p>
            <p class="card-text"><strong>Quantité :</strong> {{ p.quantity }}</p>
          </div>
          <div class="card-footer bg-transparent border-0 text-center">
            <button
              class="btn btn-sm btn-primary w-75" [disabled]="p.quantity == 0" (click)="sendDataToParent(p)"> Acheter</button>
          </div>
        </div>
