<section>
  <div class="container">
    <div class="row">
      <h1 class="text-center mb-5">
        <span>List</span> Events <i class="fa fa-heart text-danger"></i>
      </h1>

      <!-- Search -->
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Search by Title or location"
        [(ngModel)]="searchTerm"
      />

  <button class="btn btn-primary mb-3" routerLink="/events/add-event">Proposer un nouveau évènement</button>

      <!-- Cards -->
      <div class="col-md-4 mt-4" *ngFor="let e of filteredEvents() ">
        <app-card-event [e]="e" (notificationLike)="handleLike($event)" [showLike]="true"  ></app-card-event>

    </div>
  </div>
  </div>
</section>
